<h1>Title <%= @post.title %></h1>
<h2>Comments</h2>
<ul>
  <% @comments.each do |comment| %>
    <li><%= comment.content %>(<%= comment.created_at.strftime("Commented on %m/%d/%Y at %I:%M%p") %>)</li>
    <li><%= link_to 'Edit', edit_post_comment_path(@post, comment), class: 'btn btn-primary' %></li>
    <li><%= button_to 'Delete', post_comment_path(@post, comment), class: 'btn btn-danger' %></li>
  <% end %>
</ul>

<%= link_to 'Back', posts_path, class: 'btn btn-outline-dark'%>
<%= link_to 'New Comment', new_post_comment_path(@post), class: 'btn btn-dark' %>
