<%= link_to 'Create', new_feedback_path, class: 'btn btn-outline-dark' %>
<%= link_to 'Back', contacts_path, class: 'btn btn-outline-dark'%>
<h1>Feedback List</h1>
<table class="table table-hover table-bordered">
  <thead>
  <td>NAME</td>
  <td>EMAIL</td>
  <td>MESSAGE</td>
  <td>REMARKS</td>
  <td>CREATED</td>
  <td>UPDATED</td>
  <td>ACTIONS</td>
  </thead>
  <% @feedbacks.each do |feedback| %>
    <tbody>
    <tr>
      <td><%= feedback.name %></td>
      <td><%= feedback.email %></td>
      <td><%= feedback.message %></td>
      <td><%= feedback.remarks %></td>
      <td><%= feedback.created_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
      <td><%= feedback.updated_at.strftime("%m/%d/%Y at %I:%M%p")%></td>
      <td>
        <div class="btn-group-vertical" role="group" aria-label="Post Actions">
        <%= link_to 'Edit', edit_feedback_path(feedback), class: 'btn btn-outline-success' %>
        <%= link_to 'Show', feedback_path(feedback), class: 'btn btn-outline-primary' %>
        </div>
        <%= button_to 'Delete', feedback_path(feedback), method: :delete, class: 'btn btn-outline-danger' %></td>
    </tr>
    </tbody>
  <% end %>
</table>