<div class="container">
  <% if post.errors.any? %>
    <div class="alert alert-warning" role="alert">
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="container">
  <%#= form_with model: post, url: url, method: method, data: { turbo: false } do |form| %>
    <%#= form_with model: post, data: { controller: :location } do |form| %>
  <%= form_with model: post, data: { controller: 'location select2' } do |form| %>
    <div class="mb-3">
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :content, class: 'form-label' %>
      <%= form.text_area :content, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :published %>
      <%= form.check_box :published %>
    </div>

    <div>
      <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
    </div>

    <div>
        <%= form.file_field :image %>
    </div>

    <div>
      <%= form.label :address %>
      <%= form.text_field :address %>
    </div>

    <div>
      <%= form.label :address_region_id %>
      <%= form.collection_select :address_region_id,
                                 Address::Region.all, :id, :name,
                                 { prompt: 'Please select region' }, class: 'select2',
                                 data: { location_target: 'selectedRegionId', action: 'change->location#fetchProvinces' } %>
    </div>

    <div>
      <%= form.label :address_provinces_id %>
      <%= form.collection_select :address_province_id,
                                 [], nil, nil,
                                 { prompt: 'Please select province' }, class: 'select2',
                                 data: { location_target: 'selectProvinceId', action: 'change->location#fetchCities' } %>
    </div>

    <div>
      <%= form.label :address_city_id %>
      <%= form.collection_select :address_city_id,
                                 [], nil, nil,
                                 { prompt: 'Please select city' }, class: 'select2',
                                 data: { location_target: 'selectCityId', action: 'change->location#fetchBarangays'  } %>
    </div>

    <div>
      <%= form.label :address_barangay_id %>
      <%= form.collection_select :address_barangay_id,
                                 [], nil, nil,
                                 { prompt: 'Please select barangay' }, class: 'select2',
                                 data: { location_target: 'selectBarangayId' } %>
    </div>

    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to 'Back', posts_path, class: 'btn btn-outline-dark' %>
  <% end %>
</div>
