<!--<div class="d-flex justify-content-end">-->
<!--</div>-->


<div class="container">
  <h1>Find your post</h1>
  <%= form_with url: posts_path, method: :get, class: 'mb-3' do |form| %>
    <div class="row g-3">
      <div class="col-md-3">
        <%= form.label :title, class: 'form-label' %>
        <%= form.text_field :title, value: params[:title], class: 'form-control' %>
      </div>
      <div class="col-md-2">
        <%= form.label :start_date, class: 'form-label' %>
        <%= form.date_field :start_date, value: params[:start_date], class: 'form-control' %>
      </div>
      <div class="col-md-2">
        <%= form.label :end_date, class: 'form-label' %>
        <%= form.date_field :end_date, value: params[:end_date], class: 'form-control' %>
      </div>
      <div class="col-md-2">
        <%= form.label :published, class: 'form-check-label d-block' %>
        <%= form.check_box :published, class: 'form-check-input ms-2' %>
      </div>
      <div class="col-md-2">
        <%= form.label :category_name, "Categories", class: 'form-label' %>
        <%= form.select :category_name, Category.all.map{ |c| [c.name, c.id] }, {}, { multiple: true, class: 'form-control' } %>
      </div>
      <div class="col-md-1 d-flex align-items-end">
        <%= form.submit 'Search', class: 'btn btn-sm btn-primary' %>
      </div>
    </div>
  <% end %>

</div>
<hr>
<h2>Post List</h2>
<%= link_to 'Add new Post', new_post_path, class: 'btn btn-success btn-sm' %>
<table class="table table-hover table-bordered table-sm">
  <thead>
  <tr>
    <td>AUTHOR</td>
    <td>COMMENTS COUNT</td>
    <th>TITLE</th>
    <th>CONTENT</th>
    <td>IMAGE</td>
    <th>CATEGORY</th>
    <th>STATUS</th>
    <th>CREATED AT</th>
    <th>UPDATED AT</th>
    <th>ACTIONS</th>
  </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td data-controller="clipboard">
        <span data-clipboard-target="email"><%= post.user&.email %></span>
        <button data-action="click->clipboard#copy">copy</button>
      </td>
      <td><%= post.comments_count %></td>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= image_tag post.image.url if post.image.present? %></td>
      <td><%= post.categories.pluck(:name).join(',') %></td>
      <td><%= post.published == "1" ? true : false %></td>
      <td><%= post.created_at.strftime("On %m/%d/%Y at %I:%M%p") %></td>
      <td><%= post.updated_at.strftime("On %m/%d/%Y at %I:%M%p") %></td>
      <td>
        <div class="btn-group-vertical" role="group" aria-label="Post Actions">
          <%= link_to 'Show', post_path(post), class: 'btn btn-outline-dark' %>
          <%= link_to 'New Comment', new_post_comment_path(post), class: 'btn btn-outline-dark' %>
          <%= link_to 'Comments', post_comments_path(post), class: 'btn btn-outline-dark' %>
          <% if user_signed_in? && post.user == current_user %>
            <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-sm btn btn-outline-primary' %>
            <%= button_to 'Delete', post_path(post), method: :delete, class: 'btn btn-sm btn btn-outline-danger' %>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @posts %>